<!DOCTYPE html>
<html >
<head>
  <title>Diabetes Predictor</title>
  <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}" >
</head>

<body>
 <div class="main-div">
	
    <div class="left-blank">&nbsp;</div>
    
    <div class="contents">

      <div class="blank-top"></div>

      <div class="logo-title">
        <img src="{{ url_for('static', filename='images/logo_text.png') }}" style=" width: 80%; object-fit: cover;" alt="">
      </div>

      <div class="form">
        <form action='/predict' method="POST">
          <input type="number" name="Glucose Level" placeholder="Glucose Level " required="required" />
          <input type="number" name="Insulin" placeholder="Insulin" required="required" />
          <input type="number" name="BMI" placeholder="BMI" required="required" />
          <input type="number" name="Age" placeholder="Age" required="required" />
          <div class="button-div">
            <button type="submit" class="submit-button">Predict</button>
          </div>
          </form>
      </div>

      <div class="result">{{ prediction_text }}</div>
      
   

    </div> 
    
    <div class="right-blank">&nbsp;</div>

 </div>


</body>
</html>
